<div class="container">
  <div *ngIf="!sizeTypeSelected">
    <div *ngFor="let cardItem of sizeTypes" class="pizza-card">
      <app-card-item [type]="cardItem.Type" [cardItem]="cardItem" [showAddToCart]="true" 
      (itemSelectEvent)="itemSelected($event)" ></app-card-item>
    </div>
  </div>
  <!-- <div *ngIf="!sauceTypeSelected">
    <div *ngFor="let cardItem of sauceTypes" class="pizza-card">
      <app-card-item [type]="custom-pizza" [cardItem]="cardItem" [showAddToCart]="true"
      (itemSelectEvent)="itemSelected($event)"></app-card-item>
    </div>
  </div>
  <div *ngIf="!chesseTypeSelected">
    <div *ngFor="let cardItem of chesseTypes" class="pizza-card">
      <app-card-item [type]="custom-pizza" [cardItem]="cardItem" [showAddToCart]="true"
      (itemSelectEvent)="itemSelected($event)"></app-card-item>
    </div>
  </div>
  <div *ngIf="!toppingTypeSelected">
    <div *ngFor="let cardItem of toppingTypes" class="pizza-card">
      <app-card-item [type]="custom-pizza" [cardItem]="cardItem" [showAddToCart]="true"
      (itemSelectEvent)="itemSelected($event)"></app-card-item>
    </div>
  </div> -->
</div>