<div class="container">
  <div *ngIf="!sizeTypeSelected">
    <h4 class="sub-heading">Please select pizza Size</h4>
    <div class="grid pizza-card">
      <ng-container *ngFor="let cardItem of sizeTypes">
        <app-card-item [type]="cardItem.Type" [cardItem]="cardItem" [showAddToCart]="true"
          (itemSelectEvent)="itemSelected($event)" ></app-card-item>
      </ng-container>
    </div>
  </div>
  <div *ngIf="sizeTypeSelected && !sauceTypeSelected">
    <h4 class="sub-heading">Please select Sauce</h4>
    <div class="grid pizza-card">
      <ng-container *ngFor="let cardItem of sauceTypes">
        <app-card-item [type]="cardItem.Type" [cardItem]="cardItem" [showAddToCart]="true"
        (itemSelectEvent)="itemSelected($event)"></app-card-item>
      </ng-container>
    </div>
  </div>
  <div *ngIf="sizeTypeSelected && sauceTypeSelected && !chesseTypeSelected">
    <h4 class="sub-heading">Please select Chesse</h4>
    <div class="grid pizza-card">
      <ng-container *ngFor="let cardItem of chesseTypes" class="pizza-card">
        <app-card-item [type]="cardItem.Type" [cardItem]="cardItem" [showAddToCart]="true"
        (itemSelectEvent)="itemSelected($event)"></app-card-item>
      </ng-container >
    </div>
  </div>
  <div *ngIf="sizeTypeSelected && sauceTypeSelected && chesseTypeSelected && !toppingTypeSelected">
    <h4 class="sub-heading">Please select Toppings</h4>
    <div class="grid pizza-card">
    <ng-container *ngFor="let cardItem of toppingTypes" class="pizza-card">
      <app-card-item [type]="cardItem.Type" [cardItem]="cardItem" [showAddToCart]="true"
      (itemSelectEvent)="itemSelected($event)"></app-card-item>
    </ng-container>
    </div>
  </div>
  <div *ngIf="sizeTypeSelected && sauceTypeSelected && chesseTypeSelected && toppingTypeSelected">
    <h4>You have successfully customized pizza, all details added to cart, you can proceed with place order</h4>
    </div>
</div>