<div class="app">
  <header>
    <h3 class="title center">{{title}}</h3>
  </header>  
  <app-slider class="pizza-slider"></app-slider>
  <nav class="menu">
    <a class="button" routerLinkActive="activebutton" routerLink="/dashboard">Dashboard</a> |
    <a class="button" routerLinkActive="activebutton" routerLink="/custom-pizza">Custom Pizza</a>
  </nav>

  <div class="main-container">
    <div class="left-container">
      <router-outlet></router-outlet>
    </div>
    <div class="right-container">
      <app-order-cart></app-order-cart>
    </div>
  </div>
  <footer><h3>Thanks for visiting Pizza Order system</h3></footer>
</div>