/* make imgae to center */
.title {
  margin: 10px;
}
.menu {
  margin: 20px 0 10px 30px;
}
.pizza-slider{
  max-height: 400px;
}

.main-container {
    display: flex;
}
.left-container {
    flex: 0 1 78%;
    min-height: 100%;
    max-width: 78%;
    padding: .5em;
}
.right-container {
    flex: 0 1 22%;
    display: flex;
    height: 100%;
    max-width: 22%;
    flex-wrap: wrap;
    align-items: flex-start;
}